header {
  background-color: teal;
  color: white;
  font-family: 'Raleway', sans-serif;
}

header .container h1 {
  height: 100px;
  font-size: 36px;
  font-family: 'Raleway', sans-serif;
}

main{
  flex: 1 0 auto;
  font-family: 'Raleway', sans-serif;
}

footer {
  height: 100px;
  background-color: teal;
  color: white;
  font-family: 'Raleway', sans-serif;
}


a {
  color: #00B7FF;
}
